{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="keywords" content="Realm Elevators, IT Services, Quote, App Development, Software Development, Services, web development">
<meta name="description" property="og:description" content="Realm Elevators Company is a
 top IT company in Kenya. The company helps in providing high level tech solutions.
  It is a collaboration of several developers which has grown it's fame 
within the country and even globally by providing best services to its clients.">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut Icon" type="icon" href="{% static 'media/mylogo.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/mystyles.css" class="rel" media="all">
<title>About us - Realm Elevators Company</title>
</head>
<body>

<!-- Navigation bar -->
{% include 'navlinks.html' %}

    <!----this is the about page-->
    <div class="about-header">
        <h1>About Us</h1>
    </div>

<!----this about section 1-->
<section class="about-container-1">
    <div class="column-1">
        <div class="text">
            <h2>About Realm Elevators</h2>
            <p>Realm Elevators Company is a top IT company in Kenya. The company helps in providing high level tech solutions. It is a collaboration of several developers which has grown his fame 
        within the country and even globally by providing best services to its clients. The company act as a bridge between the IT professionals 
        and clients who needs their services. We are a company that offers a range of technology solutions and services to businesses and individuals. These solutions include software development, 
        IT consulting, digital marketing, cloud computing, cybersecurity, network infrastructure, and more. We work with businesses of all sizes to help them stay ahead of the competition with the 
        latest technological advancements. We have a team of experts with extensive knowledge and experience in the field of technology. They work closely with clients to understand their business 
        goals and provide customized solutions that meet their unique needs. Our goal is to help businesses 
        streamline their operations, increase productivity, and reduce costs.</p><br>
        </div>
    </div>
    <div class="column-2">
        <img src="{% static 'media/rlaptop.png' %}">
    </div>
</section>

<!---this is about section 2-->
<section class="about-container-2">
    <div class="column-1">
        <img src="{% static 'media/whoarewe.jpg' %}">
    </div>
    <div class="column-2">
        <div class="text">
            <h2>Get to know us</h2>
<h3>What is Realm?</h3>
<p><b>Realm</b> is a term used to mean territory, dominion, land or kingdom.</p><br>
<h3>What is Elevators</h3>
<p><b>Elevators</b> comes from the word Elevate, which means lift up.</p>
<p>Generally, <b>Realm Elevators</b> means bringing up the world especially in the field of technology through provision of digital
services and solutions to individuals, institutions, businesses, companies, governmental and non-governmental organizations.</p><br>
<h3>How it works!</h3>
<p>The company interacts directly with the clients to find out the service or project they need and its requrements/specifications. 
    Afterwards, it's allocated to our able work-team (Either one, two or more specialists depending on the project requirements or technologies 
    to be applied).
</p><br>
<h4>Website: <a href="https://www.realmelevators.com">www.realmelevators.com</a></h4>
<h5>Social media accounts: You may get on us on various all social media accounts at:</h5><h3>Realm Elevators Company</h3><br>
<br>
        </div>
    </div>
</section>


<!----this about section 3-->
<section class="about-container-3">
    <div class="column-1">
        <h3>Our Mission</h3>
<p>To bridge the gap between IT professionals and world 
    to make it more productive and successful digitally!</p><br>
    </div>
    <div class="column-2">
        <h3>Our Vision</h3>
        <p>To provide a platform where developers and 
            IT experts can showcase, empower and improve on the skills!</p><br>
    </div>
    <div class="column-3">
        <h3>Our Core Values</h3>
        <ul>
            <li>Innovative</li>
            <li>Reliable</li>
            <li>Collaborative</li>
            <li>Customer-satisfaction</li>
        </ul>
    </div>
</section>


<!----this about section 4-->
<section class="about-container-4">    
<h2>Services we offer;</h2>
<h5>Our Company is best known for providing the best IT services and solutions in the following fields..</h5><br>
<div class="container-4-content">
    <div class="column-1">
    </div>
    <div class="column-2">
        <ul>
            <li><i class="fa fa-thumb-tack"> </i>Web Development</li>
            <li><i class="fa fa-thumb-tack"> </i>Graphic Design</li>
            <li><i class="fa fa-thumb-tack"> </i>Software Development and Management</li>
            <li><i class="fa fa-thumb-tack"> </i>App Development</li>
            <li><i class="fa fa-thumb-tack"> </i>Data Analysis</li>
            <li><i class="fa fa-thumb-tack"> </i>IT Consultation</li>
            <li><i class="fa fa-thumb-tack"> </i>Testing and Debugging Websites and Apps</li>
        </ul>
    </div>
    </div>
</section>


<!----this about section 5-->
<section class="about-container-5">
    <div class="column-1">
        <h2>Whom do we offer our services<i class="fa fa-question"></i></h2>
<P>Mordern technology has paved way for various types of businesses, organizations, companies and generally the whole world. 
    For that reason Digital services and solutions we offer are in demand. Thus, our targeted clients are;
</P><br>
<ul>
    <li><i class="fa fa-crosshairs"></i> Individuals</li>
    <li><i class="fa fa-crosshairs"></i> Startup businesses</li>
    <li> <i class="fa fa-crosshairs"></i> Large-scale businesses</li>
    <li><i class="fa fa-crosshairs"></i> Institutions</li>
    <li><i class="fa fa-crosshairs"></i> Companies</li>
    <li><i class="fa fa-crosshairs"></i> Govermental and non-governmental organizations</li>
</ul><br>
    </div>
    <div class="column-2">
<img src="{% static 'media/towhobg.png' %}">
    </div>
</section>

<!---why choose us-->

<section class="whyus" id="whyus">
    <h2>Why Choose us? <br><span>There are several companies which offers similar services, but Realm Elevators remain at the top as;</span></h2>
    <div class="whyus-container">
        <div class="whyus-card">
            <h4>We offer 24/7<br><span>Live Chat With Experts</span></h4>
        </div>
        <div class="whyus-card">
            <h4>Affordable<br><span>Charges on Services</span></h4>
        </div>
        <div class="whyus-card">
            <h4>Deployment of<br><span>Modern Designs & Technologies</span></h4>
        </div>
        <div class="whyus-card" style="border-right: none;">
            <h4>Experienced<br><span>& Enthusiast IT Professionals</span></h4>
        </div>
    </div>
</section>


<!----technologies used section-->


<!---this is the footer-->
{% include 'footer.html' %}


    <!---javascript for scroll to top button-->
    <script>
        // Get the button:
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64116eb231ebfa0fe7f2abfd/1gri1gqna';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    

    <!---javascript for closing and opening menu on small screens-->
    <script>
        var navLinks=document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right='0';
        }
        function hideMenu(){
            navLinks.style.right='-100%';
        }

    </script>

{% comment %} <!--this is scrollreveal js--->   {% endcomment %}
<script src="https://unpkg.com/scrollreveal"></script>
<!---This is the main javascript file-->
<script src="/static/other/main.js"></script>
<script src="/static/main.js"></script>
</body>
</html>