{% load static %}


<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="keywords" content="Realm Elevators, IT Services, Quote, App Development,
 Software Development, Services, web development">
<meta name="description" property="og:description" content="Our team of skilled developers
 and designers has extensive experience in creating apps for a variety of industries and purposes,
  including gaming, social networking, e-commerce, and more. We use the latest technologies 
  and development frameworks to ensure that your app is fast, reliable, and scalable.">


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut Icon" type="icon" href="{% static 'media/mylogo.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/styles.css" class="rel" media="all">
<link rel="stylesheet" href="/static/mystyles.css" class="rel">
<link rel="stylesheet" href="/static/services.css">
<title>App Development- Realm Elevators Company</title>
</head>
<body>

<!-- Navigation bar -->
{% include 'navlinks.html' %}



    <!----this is the about page-->
    <div class="about-header">
        <h1>App Development</h1>
    </div>


    <!-- Introductory notes -->
    <div class="intro">
        <div class="def">
            <h2>What is App Development</h2>
            <p>App development refers to the process of creating software 
                applications that can be run on mobile devices, computers, 
                or other digital platforms. The process involves designing,
                 building, and deploying applications that are tailored to
                  meet specific user needs. App development can involve a range
                   of programming languages, tools, and frameworks, depending
                    on the platform and the requirements of the application.
            </p>
       </div>
       <div class="process">
        <h2 class="main-h3">Process involved</h2>
        <div class="process-container">

            <div class="cd-1">
                <h3 class="title">1. Planning</h3>
                <p>This stage involves defining the app's purpose, audience, 
                     features, and goals. It also involves researching the 
                     market to identify potential competitors and user needs.</p>
            </div>
            <div class="cd-1">
                <h3 class="title">2. Design</h3>
                <p>In this stage, the app's user interface (UI) and 
                    user experience (UX) are developed. Designers create 
                    wireframes, prototypes, and mockups to ensure that the 
                     app is visually appealing and easy to use.</p>
            </div>
            <div class="cd-1">
                <h3 class="title">3. Development</h3>
                <p>This is the stage where the app's code is written. 
                     Developers use programming languages and frameworks 
                      such as Java, Kotlin, Swift, React Native, or 
                      Flutter to build the app's functionality</p>
            </div>
            <div class="cd-1">
                <h3 class="title">4. Testing</h3>
                <p>Once the app is developed, it undergoes rigorous testing 
                     to ensure that it is functioning as intended. Testing 
                     includes unit testing, integration testing, and user 
                      acceptance testing (UAT).</p>
            </div>
            <div class="cd-1">
                <h3 class="title">5. Deployment</h3>
                <p>This stage involves publishing the app to the app stores 
                    or other platforms such as web applications or desktop 
                    applications. It also includes the process of optimizing 
                    the app for search, as well as monitoring its performance 
                    and making updates as necessary.</p>
            </div>

        </div>

       </div>
    </div>


    <!-- Types of web services -->
    <div class="t-services">
         <h2 class="main-h3">Types of Apps</h2>
        <div class="t-services-container">

            <div class="card-l">
                <div class="cd-2">
                    <h2>Native apps</h2>
                    <p> These are apps that are designed and developed specifically <br>
                        for a particular platform, such as iOS or Android. <br>
                        Native apps can offer better performance and user <br>
                         experience than other types of apps.</p>
                </div>
                <img src="{% static 'media/apps1.png' %}" alt="">
            </div>
            
            <div class="card-r">
                <img src="{% static 'media/apps2.jpg' %}" alt="">
                <div class="cd-2">
                    <h2>Hybrid apps</h2>
                    <p>These are apps that are built using web technologies such <br>
                         as HTML, CSS, and JavaScript, and then wrapped in a native <br>
                          container that allows them to run on different platforms.</p>
                </div>                
            </div>

          <div class="card-l">
            <div class="cd-2">
                <h2>Web apps</h2>
                <p>These are apps that run on web browsers, and do not require <br>
                     users to download and install any software. Web apps can <br>
                     be accessed from any device with an internet connection.</p>
            </div>
            <img src="{% static 'media/applications2.jpg' %}" alt="">
          </div>


            <div class="card-r">
                <img src="{% static 'media/apps4.jpg' %}" alt="">
                <div class="cd-2">
                    <h2>Progressive web apps (PWA)</h2>
                    <p>These are web apps that use modern web technologies to provide <br>
                        a native app-like experience. PWAs can be installed on a <br>
                        device and can work offline.</p>
                </div>
            </div>


            <div class="card-l">
                <div class="cd-2">
                    <h2>Desktop apps</h2>
                    <p>These are apps that run on desktop computers and laptops, <br>
                        and offer more advanced features and functionalities <br>
                         than web apps or mobile apps.</p>
                </div>
                <img src="{% static 'media/applications1.jpg' %}" alt="">
            </div>

          <div class="card-r">
            <img src="{% static 'media/apps6.jpg' %}" alt="">
            <div class="cd-2">
                <h2>Game apps</h2>
                <p>These are apps that are designed for entertainment purposes, <br>
                     such as mobile games. Game apps can be native or hybrid, <br>
                     depending on the complexity of the game.</p>
            </div>
          </div>


        </div>

<!-- Conclussion -->
        <div class="def">
            <h2>Summary</h2>
            <p>Overall, app development is a complex process that involves <br>
                 various stages and requires different skills and 
                  Understanding the different types of apps and their <br>
                  respective development processes can help businesses <br>
                  and developers choose the best approach for their specific needs.
            </p>
       </div>
    </div>


     <!-- Contact section / requeting quote-->
     <section class="quote" id="quote">
        <h2 class="title">Reach out to our Experts</h2>
                <div class="container">
                    
                    {% include 'contact_form.html' %}
                    
                </div>
    </section>


<!---this is the footer-->
{% include 'footer.html' %}



    <!---javascript for scroll to top button-->
    <script>
        // Get the button:
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>

        <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64116eb231ebfa0fe7f2abfd/1gri1gqna';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    
    
    <!---javascript for closing and opening menu on small screens-->
    <script>
        var navLinks=document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right='0';
        }
        function hideMenu(){
            navLinks.style.right='-100%';
        }

    </script>

{% comment %} <!--this is scrollreveal js--->   {% endcomment %}
<script src="https://unpkg.com/scrollreveal"></script>
{% comment %} <!---This is the main javascript file--> {% endcomment %}
<script src="/static/other/main.js"></script>
</body>
</html>