{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="keywords" content="Contact, Broadcasting, Realm Elevators, IT Services, Quote, App Development,
 Software Development, Services, web development">
<meta name="description" property="og:description" content="Realm Elevators Company is a 
top IT company in Kenya. The company helps in providing high level tech solutions.
 It is a collaboration of several developers which has grown his fame 
within the country and even globally by providing best services to its clients.">


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut Icon" type="icon" href="{% static 'media/mylogo.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/mystyles.css" class="rel" media="all">
<title>Contact - Realm Elevators Company</title>
</head>
<body>

<!-- Navigation bar -->
{% include 'navlinks.html' %}

    <!---this is the contact page-->
    <div class="contact-header">
        <h1>Contact Us</h1>
    </div>
    <h2></h2>
    <div class="contact-container">
        <div class="cols-1">
            <h2>Get In Touch With Us</h2>
            <p>Our able team will response to you as soon as possible, reach us now!</p>
            <h4>Call/SMS <span>24/7 for Help</span></h4>
            <ul class="ourcontacts">
                <li><i class="fa fa-phone"></i> +254746092415</li>
                <li><i class="fa fa-phone"></i> +254707967928</li>
                <li><i class="fa fa-phone"></i> +254115580891</li>
            </ul>
            <h5><span>Email us through:</span> info@realmelevators.com</h5>
            <div class="social-links">
                <h3>Social Media Platforms</h3>
                <a href="https://www.facebook.com/profile.php?id=100083023307947&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/realm_elevators?t=dEGgPAMdshyoagHUhRDFLQ&s=09"><i class="fa fa-twitter"></i></a>
                <a href="https://t.me/realmelevators"><i class="fa fa-telegram"></i></a>
                <a href="http://www.linkedin.com/in/realm-elevators-company-8b3760267"><i class="fa fa-linkedin"></i></a>
                <a href="https://wa.me/254778235045"><i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="cols-2">
            <h3>Write us a text message!<br><span>Fields marked with (<sup>*</sup>) are mandatory.</span></h3>
            <div class="contact-form">
                <form method="POST" action="{% url 'contact_main_form' %}">
                    {% csrf_token %}
                    <label><sup>*</sup>Full Name:</label><br><input type="text" id="name" name="name" placeholder="Eric Edward" required><br>
                    <label><sup>*</sup>Phone Number:</label><br><input type="text" id="phone" name="phone" placeholder="+1 860045463" required><br>
                    <label><sup>*</sup>Email Adress:</label><br><input type="email" id="email" name="email" placeholder="example@gmail.com" required><br>
                    <label><sup>*</sup>Enter Subject:</label><br><input type="text" id="subject" name="subject" placeholder="I want a website for company" required><br>
                    <label><sup>*</sup>Your Message:</label><br><textarea cols="20" id="message" name="message" rows="5" placeholder="Type here..." required></textarea><br>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>


<!---this is the footer-->
{% include 'footer.html' %}



    <!---javascript for scroll to top button-->
    <script>
        // Get the button:
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64116eb231ebfa0fe7f2abfd/1gri1gqna';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    
  
    <!---javascript for closing and opening menu on small screens-->
    <script>
        var navLinks=document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right='0';
        }
        function hideMenu(){
            navLinks.style.right='-100%';
        }
  
    </script>
  
  {% comment %} <!--this is scrollreveal js--->   {% endcomment %}
  <script src="https://unpkg.com/scrollreveal"></script>
  <!---This is the main javascript file-->
  <script src="/static/other/main.js"></script>
  <script src="/static/main.js"></script>
  <script src="static/home.js"></script>
  </body>
  </html>
