{% load static %}


<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="keywords" content="Graphic Design, Realm Elevators Company, IT Services, Quote, App Development,
 Software Development,  web development, Posts">
<meta name="description" property="og:description" content="With a keen eye for detail 
and a passion for creativity, we can help you create stunning visual assets that will grab your
 audience's attention and set you apart from the competition.">


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut Icon" type="icon" href="{% static 'media/mylogo.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/styles.css" class="rel" media="all">
<link rel="stylesheet" href="/static/mystyles.css" class="rel">
<link rel="stylesheet" href="/static/services.css">
<title>Graphic Design - Realm Elevators Company</title>
</head>
<body>

<!-- Navigation bar -->
{% include 'navlinks.html' %}



    <!----this is the about page-->
    <div class="about-header">
        <h1>Graphic Design</h1>
    </div>


    <!-- Introductory notes -->
    <div class="intro">
        <div class="def">
            <h2>What is Graphic Design</h2>
            <p>Graphic design is the process of creating visual content, 
                usually for communication purposes. It involves the use 
                of typography, images, colors, and other design elements
                 to create visual representations of ideas and messages.
                  The goal of graphic design is to communicate a message
                   or idea to an intended audience in an effective and compelling way.
            </p>
       </div>
       <div class="process">
        <h2 class="main-h3">Process involved</h2>
        <div class="process-container">

            <div class="cd-1">
                <h3 class="title">Step 1 </h3>
                <p>First, the designer works with the client to understand 
                    the purpose and message of the design project.
                     </p>
            </div>
            <div class="cd-1">
                <h3 class="title">Step 2</h3>
                <p>Next, the designer conducts research to gather
                     information about the audience, competition, 
                     and industry trends.</p>
            </div>
            <div class="cd-1">
                <h3 class="title">Step 3</h3>
                <p>Based on this information, the designer develops 
                    concepts and sketches ideas for the design.</p>
            </div>
            <div class="cd-1">
                <h3 class="title">Step 4</h3>
                <p>These sketches are refined into digital mockups,
                     which are then presented to the client for 
                     feedback and revision.</p>
            </div>
            <div class="cd-1">
                <h3 class="title">Step 5</h3>
                <p>Once the final design is approved, the designer
                     prepares the files for production or distribution. </p>
            </div>

        </div>

       </div>
    </div>

    <!-- Types of web services -->
    <div class="t-services">
         <h2 class="main-h3">Types of Graphic Design</h2>
        <div class="t-services-container">

            <div class="card-l">
                <div class="cd-2">
                    <h2>Branding and Identity Design</h2>
                    <p>This involves the creation of a visual identity for <br>
                        a company or brand. It includes the design of logos,<br>
                         color schemes, typography, and other brand elements.</p>
                </div>
                <img src="{% static 'media/graphics1.jpg' %}" alt="">
            </div>
            
            <div class="card-r">
                <img src="{% static 'media/graphics2.jpg' %}" alt="">
                <div class="cd-2">
                    <h2>Advertising Design</h2>
                    <p>This involves the creation of visual content for <br>
                        advertising campaigns, such as billboards, posters, <br>
                         and print ads. It typically requires a strong <br>
                         understanding of marketing and consumer behavior.</p>
                </div>                
            </div>

          <div class="card-l">
            <div class="cd-2">
                <h2>Web Design</h2>
                <p>This involves the creation of digital content for <br>
                     websites and other online platforms. It includes <br>
                      the design of user interfaces, navigation menus, <br>
                       and other interactive elements.</p>
            </div>
            <img src="{% static 'media/graphics3.jpg' %}" alt="">
          </div>


            <div class="card-r">
                <img src="{% static 'media/graphics4.jpg' %}" alt="">
                <div class="cd-2">
                    <h2>Publication Design</h2>
                    <p>This involves the design of print materials such as <br>
                        books, magazines, and newspapers. It requires a <br>
                        strong understanding of layout, typography, <br>
                        and visual hierarchy.</p>
                </div>
            </div>


            <div class="card-l">
                <div class="cd-2">
                    <h2>Packaging Design</h2>
                    <p> This involves the creation of visual content for <br>
                        product packaging. It includes the design of <br>
                        labels, boxes, and other packaging materials.</p>
                </div>
                <img src="{% static 'media/graphics5.jpg' %}" alt="">
            </div>

        </div>

<!-- Conclussion -->
        <div class="def">
            <h2>Summary</h2>
            <p>In summary, graphic design is a creative and technical process
                 that involves the use of visual elements to communicate ideas
                  and messages to an audience. The process typically involves
                   research, concept development, and revision, and the final
                    product can take many forms depending on the intended purpose
                     and audience.
            </p>
       </div>
    </div>


      <!-- Contact section / requeting quote-->
      <section class="quote" id="quote">
        <h2 class="title">Reach out to our Experts</h2>
                <div class="container">
                    
                    {% include 'contact_form.html' %}

                </div>
    </section>


<!---this is the footer-->
{% include 'footer.html' %}


    <!---javascript for scroll to top button-->
    <script>
        // Get the button:
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>
   
    <!--Start of Tawk.to Script-->
   <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64116eb231ebfa0fe7f2abfd/1gri1gqna';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    
    
    <!---javascript for closing and opening menu on small screens-->
    <script>
        var navLinks=document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right='0';
        }
        function hideMenu(){
            navLinks.style.right='-100%';
        }

    </script>

{% comment %} <!--this is scrollreveal js--->   {% endcomment %}
<script src="https://unpkg.com/scrollreveal"></script>
{% comment %} <!---This is the main javascript file--> {% endcomment %}
<script src="/static/other/main.js"></script>
</body>
</html>