{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="keywords" content="Services, Realm Elevators Company, IT Services, Quote, App Development,
Software Development,  web development, Posts, what we offer, optizimed services, customized services, web design">
<meta name="description" content="Realm Elevators Company is a top IT company in Kenya. The company helps in providing high level tech solutions. It is a collaboration of several developers which has grown his fame 
within the country and even globally by providing best services to its clients. ">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut Icon" type="icon" href="{% static 'media/mylogo.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/mystyles.css" class="rel" media="all">
<title>Services - What we offer</title>
</head>
<body>

<!-- Navigation bar -->
{% include 'navlinks.html' %}

  <!----this is service page-->
<div class="service-header">
    <h1>Services</h1>
</div>
<section class="services">
<div class="service-box">
  <div class="column-1">
    <h1>What do we offer?</h1>
  </div>
  <div class="column-2">
    <p>Realm Elevators is a leading IT company dedicated to providing innovative and high-quality solutions for 
      businesses of all sizes. We specialize in a wide range of services, tailored to meet your 
      unique needs and drive your digital success. With a team of experienced professionals 
      and a passion for cutting-edge technologies, we deliver exceptional results that exceed expectations. 
      Explore our comprehensive services below and discover how we can empower your business.</p>
      <div class="links">
      <ul>
        <li><a href="#software"><i class="fa fa-paper-plane-o"></i> Software Development</a></li>
        <li><a href="#website"><i class="fa fa-paper-plane-o"></i> Web Development</a></li>
        <li><a href="#graphic"><i class="fa fa-paper-plane-o"></i> Graphic Design</a></li>
      </ul>
      <ul>
        <li><a href="#app"><i class="fa fa-paper-plane-o"></i> Mobile App Development</a></li>
        <li><a href="#analytics"><i class="fa fa-paper-plane-o"></i> Data Analytics</a></li>
      </ul>
    </div>
  </div>
</div>

<!----services cards section-->
<div class="service-card">
  <div class="box" id="software">
    <div class="column-1">
    <h2>Software Development</h2>
    <p>Our software development services are tailored to meet your specific requirements, 
      whether it's building a robust enterprise application or a scalable software product.
       We follow an agile development approach, 
      leveraging modern technologies to create reliable, secure, and scalable software solutions.</p>
    <a href="/software_development">Learn more</a>
    </div>
    <div class="column-2">
<img src="https://blogs.realmelevators.com/wp-content/uploads/2023/07/13805027_1904.i402.013.Web-development-isometric-concept-composition-scaled.jpg"/>
    </div>
  </div>

  <div class="box" id="website">
    <div class="column-1">
    <h2>Web Development</h2>
    <p>Our expert web development team creates visually stunning and highly functional websites that 
      captivate your audience and enhance your online presence. We utilize the latest web technologies and 
      follow industry best practices to deliver responsive, user-friendly, and SEO-optimized websites.</p>
    <a href="/web_development">Learn more</a>
    </div>
    <div class="column-2">
<img src="https://blogs.realmelevators.com/wp-content/uploads/2023/07/29838131_7580918-scaled.jpg"/>
    </div>
  </div>

  <div class="box" id="graphic">
    <div class="column-1">
    <h2>Graphic Design</h2>
    <p>Our talented graphic design team brings creativity and innovation to your visual branding needs.
       From logos and brand identity to marketing collaterals and UI/UX design, we create compelling 
       designs that resonate with your target audience and elevate your brand image.</p>
    <a href="/graphic_design">Learn more</a>
    </div>
    <div class="column-2">
<img src="https://blogs.realmelevators.com/wp-content/uploads/2023/07/marketing-strategy-planning-strategy-concept_53876-42950.jpg"/>
    </div>
  </div>

  <div class="box" id="app">
    <div class="column-1">
    <h2>Mobile App Development</h2>
    <p>Reach your customers on the go with our mobile app development services. We design and develop 
      custom mobile applications for iOS and Android platforms that deliver exceptional user 
      experiences. From concept to launch, we ensure seamless functionality, intuitive interfaces, 
      and optimal performance for your app.</p>
    <a href="/app_development">Learn more</a>
    </div>
    <div class="column-2">
<img src="https://blogs.realmelevators.com/wp-content/uploads/2023/07/5467426_1720-scaled.jpg"/>
    </div>
  </div>

  <div class="box" id="analytics">
    <div class="column-1">
    <h2>Data Analytics</h2>
    <p> Unlock the power of your data with our data analytics services. We help businesses gather, 
      analyze, and interpret data to gain valuable insights that drive informed decision-making and 
      boost operational efficiency. Our data experts utilize advanced analytics tools and techniques 
      to transform raw data into actionable intelligence.</p>
    <a href="/data_analysis">Learn more</a>
    </div>
    <div class="column-2">
<img src="https://blogs.realmelevators.com/wp-content/uploads/2023/07/7140739_3515462.jpg"/>
    </div>
  </div>
</div>
</section>
<section class="clientarea">
    <div class="clientarea-text">
    <h1>It's glad to serve you in our company!</h1>
    <h3>Become a our client today with one click..</h3>
    <button><a href="/quote" style="color: #fff;">Request a Quote</a></button>
    </div>
</section>

<!---Why us section-->
<section class="realmdeclaration">
<p><i class="fa fa-quote-right"></i> By leveraging our diverse range of services, you can enhance your digital presence, streamline your operations, 
  and achieve your business goals more efficiently. Contact us today to discuss your specific requirements 
  and embark on a transformative journey with Realm Elevators</p>
</section>




<!---this is the footer-->
{% include 'footer.html' %}



  <!---javascript for scroll to top button-->
  <script>
      // Get the button:
  let mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>

  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/64116eb231ebfa0fe7f2abfd/1gri1gqna';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  

  <!---javascript for closing and opening menu on small screens-->
  <script>
      var navLinks=document.getElementById("navLinks");
      function showMenu(){
          navLinks.style.right='0';
      }
      function hideMenu(){
          navLinks.style.right='-100%';
      }

  </script>

{% comment %} <!--this is scrollreveal js--->   {% endcomment %}
<script src="https://unpkg.com/scrollreveal"></script>
<!---This is the main javascript file-->
<script src="/static/other/main.js"></script>
<script src="/static/main.js"></script>
</body>
</html>