{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="keywords" content="Software Development, Realm Elevators Company, IT Services, Quote, App Development,
Software Development,  web development, Posts">
<meta name="description" content="Realm Elevators Company is a top IT company in Kenya. The company helps in providing high level tech solutions. It is a collaboration of several developers which has grown his fame 
within the country and even globally by providing best services to its clients. ">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut Icon" type="icon" href="{% static 'media/mylogo.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/mystyles.css" class="rel" media="all">
<link rel="stylesheet" href="/static/styles.css" class="rel" media="all">
<title>Message sent!</title>
</head>
<body>

<!-- Navigation bar -->
{% include 'navlinks.html' %}

    <!----this is the about page-->
    <div class="about-header">
        <h1 style="font-size: 40px;">Message sent successfully!</h1>
    </div>
</header>

<div class="404" style="margin: 40px; text-align: center; color: green;"> 
    <h3>Your message was sent successfully, our 
        team will reach out to you shortly! Do you have a project you want our team to work on?
         Fill the form below</h3>
</div>





      <!-- Contact section / requeting quote-->
      <section class="quote" id="quote">
        <h2 class="title">Reach out to our Experts</h2>
                <div class="container">
                    
                    {% include 'contact_form.html' %}

                </div>
    </section>




<!---this is the footer-->
{% include 'footer.html' %}


    <!---javascript for scroll to top button-->
    <script>
        // Get the button:
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64116eb231ebfa0fe7f2abfd/1gri1gqna';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    

    <!---javascript for closing and opening menu on small screens-->
    <script>
        var navLinks=document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right='0';
        }
        function hideMenu(){
            navLinks.style.right='-220px';
        }

    </script>

{% comment %} <!--this is scrollreveal js--->   {% endcomment %}
<script src="https://unpkg.com/scrollreveal"></script>
<!---This is the main javascript file-->
<script src="/static/other/main.js"></script>
<script src="/static/main.js"></script>
</body>
</html>